{% extends 'home.html'%}


<div class="container-fluid">

    <div class="parallax">
    <div class="row">
    {% block body %}
        <div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
            <div style="text-align:center;font-family:italic;">
                <h1> Welcome ProjectX </h1>

            <h1>Enter Following Detailes to Register. </h1>
            <form method="POST">
            Username:<input type="text" name="username">
            Password:<input type="text" name="password">
            Retype-Password:<input type="text" name="password2">
                <input type="submit" value="Register">
            </form>
          </div>
        </div>
    {%  endblock %}
     </div>
    </div>
</div>

