{% extends 'home.html'%}


    {% block login  %}
        Welcome to ProjectX <a href="/logout">Logout</a>
        {%  endblock %}
<div class="container-fluid">

    <div class="parallax">
    <div class="row">
    {% block body %}
        <div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
            <div style="text-align:center;font-family:italic;">
                <h1> Welcome ProjectX </h1>

            <h1>Enter Meta Data Below. </h1>
            <form action="/api/v1/compare_meta" id="metaform" method="POST">

              <input type="submit">
            </form>
            <br>
            <textarea rows="4" cols="50" name="meta" form="metaform">
            Enter Meta here...</textarea>
                {% if error %}
                    <p>{{error}}</p>
                {%endif%}

                {% if compare_results %}
                <br>
                <table border = 1>
                    <tr>
                        <th> List of Seq_no </th>
                        <th> List of SKU_Name </th>
                        <th> List of Locations </th>
                        <th> List of Departments  </th>
                        <th> List of Categorys </th>
                        <th> List of Subcategorys </th>
                    </tr>
                {% for key, value in compare_results.items() %}
                    <tr>
                         <td> {{ value[0]}} </td>
                         <td> {{ value[1]}} </td>
                        <td> {{ value[2]}} </td>
                        <td> {{ value[3]}} </td>
                        <td> {{ value[4]}} </td>
                        <td> {{ value[5]}} </td>

                    </tr>
                {% endfor %}
                 </table>
               {%endif%}


          </div>
        </div>
    {%  endblock %}
     </div>
    </div>
</div>

