{% extends 'home.html'%}


    {% block login  %}
        Welcome to ProjectX <a href="/logout">Logout</a>
        {%  endblock %}
<div class="container-fluid">

    <div class="parallax">
    <div class="row">
    {% block body %}
        <div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
            <div style="text-align:center;font-family:italic;">
                <h1> Welcome ProjectX </h1>
                <p style="text-align:center;font-family:italic;font-weight:bold;font-size:160%;color:blue;">Hey, Now you can select and option from below </p>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn" style="">LDCS Detailes</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/api/v1/compare_meta">Compare Meta</a>
                        <a href="/api/v1/create">Create</a>
                        <a href="/api/v1/update">Update</a>
                        <a href="/api/v1/delete">Delete</a>
                    <div class="dropdown">
                    <button onclick="myFunction2()" class="dropbtn" style="">LDCS Read</button>
                        <div id="myDropdown2" class="dropdown-content">
                            <a href="/api/v1/location">Location</a>
                            <a href="/api/v1/location/department">Department</a>
                            <a href="/api/v1/location/department/category">Category</a>
                            <a href="/api/v1/location/department/category/subcategory">Subcategory</a>
                        </div>
                    </div>
                         </div>
                </div>


            <script>
                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                  document.getElementById("myDropdown").classList.toggle("show");
                }
                function myFunction2() {
                  document.getElementById("myDropdown2").classList.toggle("show");
                }
                // Close the dropdown if the user clicks outside of it
                window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                      var openDropdown = dropdowns[i];
                      if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                      }
                    }
                  }
                }
                </script>
            </div>
        </div>



    {%  endblock %}
     </div>
    </div>
</div>


